@import 'nib'

global-reset()

body
	font-family: Sans-Serif
	background-color: yellow
	
	#content
		min-height: 480px
		background-color: #fff
	
	h1
		padding: 10px
		font-size: 1.2em
		font-weight: bold
	
	p
		padding: 10px
		color: #333
	
	header
		padding: 10px
		border-bottom: 1px solid magenta
		background-image: linear-gradient(0deg, #ddd, #eee 30%, #fff )
		color: #888
		
	footer
		padding: 10px
		border-top: 1px solid cyan
		color: #fff
		background-color: #888
		
		a
			text-decoration: none
			color: #fff
