#smartbanner{position:absolute;left:0;top:0;display:none;border-bottom:1px solid #c2c2c2;width:100%;height:82px;font-family:'Helvetica Neue',Arial,sans-serif;background:#f2f2f2;z-index:9998;overflow:hidden;-webkit-text-size-adjust:none;-webkit-font-smoothing:antialiased;}
#smartbanner .sb-container{margin:0 auto}
#smartbanner .sb-close{position:absolute;left:8px;top:31px;display:block;line-height:23px;font-size:23px;text-align:center;color:#808080;text-decoration:none;text-shadow:none;}
#smartbanner .sb-close:active,#smartbanner .sb-close:hover{color:#aaa}
#smartbanner .sb-icon{position:absolute;left:29px;top:10px;display:block;width:64px;height:64px;-webkit-background-size:cover;-moz-background-size:cover;background-size:cover;-webkit-border-radius:14px;border-radius:14px;-webkit-box-shadow:0 0 1px #505050;box-shadow:0 0 1px #505050}
#smartbanner .sb-info{position:absolute;display:block;left:100px;top:10px;width:40%;font-size:13px;line-height:16px;color:#000;}
#smartbanner .sb-info strong{display:block;font-size:15px;font-weight:normal}
#smartbanner .sb-info > span,#smartbanner .sb-info strong{display:block;color:#303030;-o-text-overflow:ellipsis;text-overflow:ellipsis;overflow:hidden;white-space:pre}
#smartbanner .sb-info em{font-style:normal;text-transform:uppercase}
#smartbanner .sb-info .sb-stars{position:relative;display:inline-block;color:#ff9600;-o-text-overflow:initial;text-overflow:initial;font-weight:bold;height:13px;}
#smartbanner .sb-info .sb-stars .sb-rating{position:absolute;display:block;overflow:hidden}
#smartbanner .sb-button{position:absolute;display:block;right:5px;top:24px;padding:0 10px;min-width:10%;height:35px;font-size:18px;line-height:35px;text-align:center;color:#007aff;text-decoration:none}
#smartbanner.show{display:block}
#smartbanner.windows{background-color:#1f1f1f;color:#fff;border-bottom:0 none;font-family:'Segoe UI';height:124px;}
#smartbanner.windows .sb-close,#smartbanner.windows .sb-button{top:82px;color:#fff;padding:5px 20px;font-size:16px;height:18px;line-height:18px;text-align:center;border:2px solid #fff;width:30%;}
#smartbanner.windows .sb-close:active,#smartbanner.windows .sb-button:active,#smartbanner.windows .sb-close:hover,#smartbanner.windows .sb-button:hover{color:#fff;background:#1ba1e2}
#smartbanner.windows .sb-close{left:14px}
#smartbanner.windows .sb-button{right:14px}
#smartbanner.windows .sb-icon{-webkit-border-radius:0;border-radius:0;left:16px}
#smartbanner.windows .sb-info{width:68%;top:7px;color:#fff;left:92px;}
#smartbanner.windows .sb-info > span,#smartbanner.windows .sb-info strong{color:#fff}
#smartbanner.windows .sb-info .sb-stars{color:#4d4d4d;-o-text-overflow:initial;text-overflow:initial;font-weight:normal;height:15px;}
#smartbanner.windows .sb-info .sb-stars .sb-rating{color:#fff}
