@import 'nib'

#smartbanner
	$icon = 64px
	$height = 82px
	position: absolute
	left: 0
	top: 0px
	display: none
	border-bottom: 1px solid #c2c2c2
	width: 100%
	height: $height
	font-family: 'Helvetica Neue', Arial, sans-serif
	background: #f2f2f2
	z-index: 9998
	overflow: hidden
	-webkit-text-size-adjust: none
	-webkit-font-smoothing: antialiased
	.sb-container
		margin: 0 auto
	.sb-close
		position: absolute
		left: 8px
		top: 31px
		display: block
		line-height: 23px
		font-size: 23px
		text-align: center
		color: #808080
		text-decoration: none
		text-shadow: none
		&:active,
		&:hover
			color: #aaa
	.sb-icon
		position: absolute
		left: 29px
		top: 10px
		display: block
		width: $icon
		height: $icon
		background-size: cover
		border-radius: 14px
		box-shadow: 0 0 1px rgba(80,80,80,1)
	.sb-info 
		position: absolute
		display: block
		left: 100px
		top: 10px
		width: 40%
		font-size: 13px
		line-height: 16px
		color: #000
		strong
			display: block
			font-size: 15px
			font-weight: normal
		& > span,
			strong
			display: block
			color: #303030
			text-overflow: ellipsis
			overflow: hidden
			white-space: pre
		em
			font-style: normal
			text-transform: uppercase
		.sb-stars
			position: relative
			display: inline-block;
			color: #ff9600
			text-overflow: initial
			font-weight: bold
			height: 13px
			.sb-rating
				position: absolute
				display: block
				overflow: hidden
	.sb-button
		position: absolute
		display: block
		right: 5px
		top: 24px
		padding: 0 10px
		min-width: 10%
		height: 35px
		font-size: 18px
		line-height: 35px
		text-align: center
		color: #007aff
		text-decoration: none
	&.show
		display: block
	// windowsphone styling
	&.windows
		$margin = 14px
		$height = 124px
		background-color: #1f1f1f
		color: #fff
		border-bottom: 0px none
		font-family: 'Segoe UI'
		height: $height
		.sb-close,
		.sb-button
			top: 82px
			color: #fff
			padding: 5px 20px
			font-size: 16px
			height: 18px
			line-height: 18px
			text-align: center
			border: 2px solid #fff
			width: 30%
			&:active,
			&:hover
				color: #fff
				background: #1ba1e2
		.sb-close
			left: $margin
		.sb-button
			right: $margin
		.sb-icon
			border-radius: 0px
			left: 2 + $margin
		.sb-info 
			width: 68%
			top: 7px
			color: #fff
			left: $margin * 2 + $icon
			& > span,
			strong
				color: #fff
			.sb-stars
				color: #4d4d4d
				text-overflow: initial
				font-weight: normal
				height: 15px
				.sb-rating
					color: #fff
